.header {
    position: absolute;
    top:0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo {
        display: block;
        cursor: pointer;
    }

    &__burger {
        display: none;
        position: relative;
        top: 0px;
        right: 20px;
        z-index: 1;
        width: 30px;
        height: 20px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: all .2s linear;
                 
                
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                width: 100%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                top: 9px; 
                transition: all .2s linear;
            }
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        font-family: "roboto";
        
        
    }
    &__link {
        display: flex;
        
        border-right: 2px dashed var(--text-color);
        &:last-child {
            border: none;
        }
    }

    &__link a {
        color: var(--text-color);
        font-family: 'roboto',sans-serif;
        font-size: 14px;
        padding: 0 15px;
        transition: all .2s linear;
        line-height: 1.4;
        &:hover {
            color: var(--btn-color);
        }
       
        
    }

    

    &__contacts {
        margin-right: 10px;
    }

    &__contacts-text {
        color: var(--text-color);
        text-align: right;
    }

    &__phone a {
        color: var(--text-color);
        font-size: 18px;
        font-weight: 700;
        &:hover {
            color: var(--text-color);
            text-decoration: none;
        }

    }
}

.btn {
    @include btn;
    border: none;
    transition: all .2s linear;
    &:hover {
        background-color: brown;
    }
}

@media screen and (max-width: 1025px) {
    .header {

        &__logo img {
            width: 80px;
            height: 80px;
        }
        &__link a {
            font-size: 12px;
        }
        &__phone a {
            font-size: 12px;
        }
    }
    .btn {
        font-size: 10px;
        padding: 5px 20px;
        height: 40px;
    }
}

@media screen and (max-width: 991px) {
    .header {
        &__list {
            padding-left: 0;
        }
        &__contacts {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        position: fixed;
        background-color: #373b49;
        z-index: 1;
        height: 50px;
        &::before {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 50px;
            background-color: #373b49;
            box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

        }
        &__inner {
            padding: 5px 0;
        }
        &__burger {
            display: block;
            z-index: 5;
            cursor: pointer;
        }

        &__burger.active {
            &::before {
                transform: rotate(-45deg);
                top: 9px;
            }
            &::after {
                transform: rotate(45deg);
                bottom: 9px;
            }
            span {
                transform: scale(0);
            }
        }
        &__logo img {
            width: 40px;
            height: 40px;
            position: relative;
            z-index: 4;
        }
        &__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: rgb(0, 0, 0, .9);
        width: 100%;
        height: 100%;
        transition: all .2s linear;
    }
    &__menu.active {
        top: 0%;
    }
    &__list {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 70px 20px 0 0;
        
        
    }
    &__link {
        border-right: 0;
        padding: 10px 0;
        
        text-align: right;
        
        a {
            font-size: 20px;
            width: 100%;
            
        }
    }
    }
    .btn {
        display: none;
    }
    
}
@media screen and (max-width: 450px) {
    .header {
        &__burger {
            right: 10px;
        }
    }
}
