.pageup {
    position: fixed;
    display: none;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
        img {
            width: 100%;
            
        }
}

@media screen and (max-width: 768px) {
    .pageup {
        transform: scale(0);
    }
}
    
